/*==========  Desktop First Method  ========== */

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
  /* */
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
  /* */
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {

  .table-center {
    overflow: hidden;
  }

  .table-left, .table-right {
    display: block;
    width: 100%;
  }

  .header-wrapper {
    overflow: visible;
  }

  .phone-header {
    top: 65px;
    left: 45px;
  }

  .phone-even {
    display: none;
  }

  .section-table {
    height: 43vh;
  }

  .table-one-third {
    display: none;
  }

  .table-two-third {
    display: block;
    width: 100%;
  }

  .mobile-slider {
    display: block;
  }

  .white-blocks {
    display: none;
  }

  .mobile-section-text {
    display: block;
  }

  .block {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .mobile-hidden {
    display: none;
  }

  .section-row {
    display: block;
    border-bottom: 1px solid #ddd;
  }

}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {

  .main-navigation {
    display: none;
  }

  .main-header {
    margin-top: 20px;
  }

  .logo-wrapper {
    position: static;
  }

  .main-logo {
    left: 45%;
  }

  .logo-shadow {
    left: 42%;
  }

  footer {
    position: relative;
  }

  .footer-wrapper {
    width: 100%;
  }

  .footer-links {
    display: none;
  }

  .footer-logo {
    position: absolute;
    top: 0;
    left: 50%;
  }

  .footer-half {
    padding: 0;
    width: 100%;
  }

  .footer-half:nth-child(2) {
    display: none;
  }

  .footer-logo-mobile {
    display: block;
  }

  .section-heading-odd {
    margin-left: 0;
  }

  .tags {
    transform: scale(0.8);
  }

}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
  .status-email, .status-text {
    width: 320px;
    > h1 {
      font-size: 20px;
    }
    > p {
      padding: 0 15px;
    }
  }
  .mobile-slider {
    width: 320px;
  }
  .section-heading-even, .section-heading-odd {
    width: 320px;
    > h2 {
      font-size: 18px;
    }
    > p {
      padding: 0 15px;
    }
  }
  .tags {
    left: -10px;
  }
  .gradient-email, .gradient-text {
    width: 320px;
    h2 {
      font-size: 20px;
    }
  }
  .section-gradient .section-gradient-text {
    width: 320px;
    p {
      font-weight: normal;
    }
  }
}

/*==========  Mobile First Method  ========== */

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
  /* */
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  /* */
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
  /* */
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
  /* */
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
  /* */
}
