section {
  overflow: hidden;
  min-height: 680px;
  max-height: 855px;
  width: 100%;
  height: 86vh;
  border-bottom: 1px solid #dde2e6;
  background: linear-gradient(-180deg, #F5F7F9 0%, #EEF2F5 100%);
}

.section-header {
  position: relative;
  display: table;
  max-height: 1000px;
  height: 100vh;
  background: linear-gradient(-180deg, #EEF2F5 0%, #F5F7F9 100%);
  .table-center {
    border-bottom: 1px solid #dde2e6;
  }
}

.container {
  @include outer-container;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
}

.logo-wrapper {
  position: relative;
  float: left;
  width: 50px;
  height: 50px;
  animation-delay: 1s;
}

.main-logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  float: left;
  margin-top: 20px;
  width: 86px;
  height: 77px;
}

.logo-shadow {
  position: absolute;
  top: 4px;
  left: -10px;
  z-index: 8;
  width: 73px;
  height: 73px;
  background-image: url('../img/logo-shadow.png');
  background-position: center;
  background-size: 73px;
  background-repeat: no-repeat;
}

.main-navigation {
  float: right;
  margin-top: 30px;
  //height: 130px;
  animation-delay: .8s;
  li {
    display: inline-block;
    margin-left: 50px;
    a {
      color: #808591;
      text-decoration: none;
      &:hover {
        color: #2ba6e9;
      }
    }
  }
}

.main-header {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  opacity: 0;
  transition: transform .6s ease, opacity .6s ease;
  transform: translate3d(0, -20px, 0);
}

.status {
  text-align: center;
}

.status-text {
  box-sizing: border-box;
  margin-top: 120px;
  width: 360px;
  opacity: 0;
  transition: transform .4s ease, opacity .4s ease;
  transform: translate3d(0, 20px, 0);
  p {
    margin-top: 12px;
    color: #808591;
  }
  h1 {
    margin: 0;
    color: #515c71;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
  }
}

.phone {
  @include span-columns(6);
}


.phone-image {
  position: relative;
  z-index: 12;
  display: block;
  float: right;
  //width: 295px;
  //height: 603px;
  width: 275px;
  height: 562px;
  background-image: url('../img/phone_new.svg');
  background-position: top;
  background-size: 275px; //295px
  background-repeat: no-repeat;
}

.phone-inner-image {
  position: absolute;
  top: 61px;
  left: 12px;
  //width: 272px;
  // height: 483px;
  width: 252px;
  height: 449px;
  border: 1px solid #d2d7db;
  border-radius: 2px;
  background-image: url('../img/multi6.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

h2 {
  color: #5e626b;
  font-weight: 400;
  line-height: 35px;
}

p {
  margin: 0;
  color: #5e626b;
  line-height: 24px;
}

.status-email {
  width: 360px;
  opacity: 0;
  transition: transform .4s ease, opacity .4s ease;
  transform: translate3d(0, 20px, 0);
}

.gradient-email {
  width: 360px;
  opacity: 0;
  transition: transform .4s ease, opacity .4s ease;
  transform: translate3d(0, 20px, 0);
}

input[type=email] {
  padding: 15px;
  padding-right: 45px;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 8px;
  background-color: #fff;
  font-size: 14px;
}

.email {
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  width: 240px;
  height: 46px;
}

.email-button {
  position: absolute;
  top: 6px;
  right: 6px;
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgba(182, 116, 241, .2);
  background-image: url('../img/arrow.svg');
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.section-heading {
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
  h2 {
    color: #515c71;
    font-size: 24px;
  }
}

.section-text {
  margin: 0 auto;
  width: 360px;
  height: 96px;
  text-align: center;
  p {
    color: #808591;
    line-height: 24px;
  }
}

.section-blocks {
  margin: 10% auto;
  //margin-top: 80px;
  max-width: 1160px;
  vertical-align: middle;
}

.block {
  display: inline-block;
  padding: 50px;
  width: 360px;
  height: 220px;
  border-radius: 8px;
  background-color: #fff;
  vertical-align: top;
  text-align: left;
  h3 {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    color: #515c71;
    font-weight: normal;
    font-size: 16px;
  }
  h4 {
    margin-bottom: 0;
  }
  p {
    margin-top: 10px;
    color: #808591;
    font-size: 14px;
    line-height: 24px;
  }
}

.block-white {
  padding: 33px 50px;
  border-right: 1px solid #dde2e6;
  border-radius: 0;
  &:last-child {
    border-right: none;
  }
}

.block1-icon {
  width: 30px;
  height: 30px;
  background-image: url('../img/icon-key.svg');
  background-size: 30px;
}

.block2-icon {
  width: 30px;
  height: 30px;
  background-image: url('../img/icon-wand.svg');
  background-size: 30px;
}

.block3-icon {
  width: 30px;
  height: 30px;
  background-image: url('../img/icon-stablecoin.svg');
  background-size: 30px;
}

.section-white {
  background: #fff;
}

.section-wrapper {
  margin: 0 auto;
  width: 1160px;
}

.section-text-column {
  padding-left: 40px;
  width: 360px;
  text-align: center;
  h2 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    color: #515c71;
    font-size: 22px;
    line-height: 32px;
  }
  p {
    color: #808591;
    font-size: 14px;
    line-height: 24px;
  }
}

.block-blue {
  margin-right: 35px;
  margin-bottom: 40px;
  min-height: 228px;
  width: 360px;
  background-color: rgba(112, 153, 230, .2);
  opacity: 0;
  transition: transform .4s ease, opacity .4s ease;
  transform: translate3d(0, 20px, 0);
  h4 {
    color: #586377;
    font-weight: 500;
    font-size: 14px;
  }
  p {
    color: #515c71;
    opacity: .6;
  }
}

.block-blue-icon {
  width: 30px;
  height: 30px;
  background-image: url('../img/icon-eye.svg');
  background-size: 30px;
}

.block-purple {
  margin-bottom: 40px;
  min-height: 228px;
  width: 360px;
  background-color: rgba(161, 135, 213, .2);
  opacity: 0;
  transition: transform .4s ease, opacity .4s ease;
  transform: translate3d(0, 20px, 0);
  animation-delay: .2s;
  h4 {
    color: #706584;
    font-weight: 500;
    font-size: 14px;
  }
  p {
    color: #4f4564;
    line-height: 24px;
    opacity: .6;
  }
}

.block-purple-icon {
  width: 30px;
  height: 30px;
  background-image: url('../img/icon-decentralized.svg');
  background-size: 30px;
}

.block-green {
  margin-right: 35px;
  min-height: 228px;
  width: 360px;
  background-color: rgba(95, 196, 141, .2);
  opacity: 0;
  transition: transform .4s ease, opacity .4s ease;
  transform: translate3d(0, 20px, 0);
  animation-delay: .3s;
  h4 {
    color: #586377;
    font-weight: 500;
    font-size: 14px;
  }
  p {
    color: #395144;
    line-height: 24px;
    opacity: .6;
  }
}

.block-green-icon {
  width: 30px;
  height: 30px;
  background-image: url('../img/icon-lock-green.svg');
  background-size: 30px;
}

.block-peach {
  min-height: 228px;
  width: 360px;
  background-color: #fae6e4;
  opacity: 0;
  transition: transform .4s ease, opacity .4s ease;
  transform: translate3d(0, 20px, 0);
  animation-delay: .4s;
  h4 {
    color: #715856;
    font-weight: 500;
    font-size: 14px;
  }
  p {
    color: #684441;
    line-height: 24px;
    opacity: .6;
  }
}

.block-peach-icon {
  width: 30px;
  height: 30px;
  background-image: url('../img/icon-etherium.svg');
  background-size: 30px;
}

.one-half, .two-half {
  margin-top: 10%;

  @include span-columns(6);
}

.no-float {
  float: none;
}

.section-heading-odd {
  float: right;
  margin: 0 auto;
  width: 360px;
  vertical-align: middle;
  text-align: center;
  h2 {
    margin: 0;
    margin-top: 60px;
    color: #515c71;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
  }
  p {
    margin-top: 20px;
    color: #808591;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}

.tags {
  position: relative;
  margin-top: 60px;
  width: 445px;
  height: 245px;
}

.tag {
  position: absolute;
  padding: 12px;
  border-radius: 14px;
  background-color: #fff;
  p {
    margin-top: 8px;
    color: #212121;
    text-align: left;
    font-size: 14px;
    line-height: 1.4;
  }
}

.tag-status {
  position: absolute;
  top: 20px;
  left: -40px;
  width: 102px;
  height: 74px;
  opacity: 0;
  transition: all .6s ease;
  transform: translate3d(-20px, -10px, 0) scale(1.1);

}

.setstatus-pink {
  width: 78px;
  height: 24px;
  border-radius: 50px;
  background-color: #d975cc;
  span {
    color: #fff;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
  }
}

.tag-transaction {
  position: absolute;
  top: 0;
  left: 90px;
  width: 127px;
  height: 96px;
  opacity: 0;
  transition: all .6s ease;
  transform: translate3d(0, -20px, 0) scale(1.1);
  p {
    color: #212121;
    font-weight: 200;
    font-size: 34px;
    span {
      color: #BFC2C8;
      letter-spacing: 1px;
      font-weight: 400;
      font-size: 16px;
    }
  }
}

.transaction-green {
  width: 87px;
  height: 24px;
  border-radius: 50px;
  background: #5fc48d;
  span {
    color: #fff;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
  }
}

.tag-name {
  position: absolute;
  top: 20px;
  left: 250px;
  width: 95px;
  height: 74px;
  opacity: 0;
  transition: all .6s ease;
  transform: translate3d(20px, -10px, 0) scale(1.1);
  p {
    font-size: 14px;
  }
}

.name-brown {
  width: 57px;
  height: 24px;
  border-radius: 50px;
  background: #dd847d;
  span {
    color: #fff;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
  }
}

.tag-password {
  position: absolute;
  top: 125px;
  left: -20px;
  width: 175px;
  height: 74px;
  opacity: 0;
  transition: all .6s ease;
  transform: translate3d(-10px, 20px, 0) scale(1.1);
  p {
    font-weight: 400;
    font-size: 14px;
  }
  .icon-lock {
    position: absolute;
    top: 16px;
    right: 12px;
    width: 16px;
    height: 16px;
    background-image: url('../img/icon-lock-gray.svg');
    background-size: 16px;
  }
}

.password-blue {
  width: 119px;
  height: 24px;
  border-radius: 50px;
  background: #7099e6;
  span {
    color: #fff;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
  }
}

.tag-location {
  position: absolute;
  top: 125px;
  left: 180px;
  width: 220px;
  height: 120px;
  opacity: 0;
  transition: all .6s ease;
  transform: translate3d(10px, 20px, 0) scale(1.1);

  p {
    font-size: 14px;
  }
}

.location-purple {
  width: 70px;
  height: 24px;
  border-radius: 50px;
  background: #a187d5;
  span {
    color: #fff;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
  }
}

.location-map {
  float: right;
  margin-top: -55px;
  width: 60px;
  height: 60px;
  border-radius: 14px;
  background-color: #ddd;
  background-image: url('../img/map.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-heading-even {
  margin: 0 auto;
  width: 360px;
  text-align: center;
  h2 {
    margin: 0;
    margin-top: 60px;
    color: #515c71;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
  }
  p {
    margin-top: 10px;
    color: #808591;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}

.block-square {
  display: inline-block;
  margin-top: 60px;
  margin-right: 36px;
  padding: 25px 20px;
  width: 160px;
  height: 210px;
  border-radius: 4px;
  background-color: #fff;
  //box-shadow: 0 2px 3px 0 rgba(24, 53, 76, .1), 0 1px 1px 0 rgba(24, 52, 76, .1);
  vertical-align: top;
  text-align: center;
  opacity: 0;
  transition: transform .4s ease, opacity .4s ease;
  transform: translate3d(-40px, 0, 0) scale(1);
  &:first-child {
    transition-delay: 0;
  }
  &:nth-child(2) {
    transition-delay: .120s;
  }
  &:last-child {
    margin-right: 0;
    transition-delay: .240s;

  }
  h3 {
    margin-top: 10px;
    margin-bottom: 0;
    color: #515c71;
    font-weight: 500;
    font-size: 14px;
  }
  p {
    margin-top: 6px;
    color: #808591;
    font-size: 12px;
    line-height: 18px;
  }
}

.shown .block-square {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
}

.two-third {
  margin-top: 10%;
  text-align: center;

  @include span-columns(8);
}

.one-third {
  margin-top: 10%;

  @include span-columns(4);
}

.card-avatar {
  position: relative;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f5f7f9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.card-avatar::after {
  position: absolute;
  right: -4px;
  bottom: -4px;
  width: 23px;
  height: 23px;
  background-image: url('../img/badge.png');
  background-position: center;
  background-size: 23px;
  background-repeat: no-repeat;
  content: "";
}

.avatar-wallet {
  background-image: url('../img/avatar1.png');
}

.avatar-etherwall {
  background-image: url('../img/avatar2.png');
}

.avatar-etheroll {
  background-image: url('../img/avatar3.png');
}

.cirlce-blue {
  position: absolute;
  top: 55%;
  left: 55%;
  overflow: visible;
  width: 25px;
  height: 25px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: #729be3;
  text-align: center;
}

.white-dot {
  display: inline-block;
  margin-top: -5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  vertical-align: middle;
  text-align: center;
}

.section-gradient {
  margin: 0 auto;
  background: linear-gradient(16deg, #b674f1 52%, #6b93e7 86%, #2babee 100%);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  .table-wrapper {
    height: auto;
  }
  h2 {
    margin: 0;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
  }
  .section-gradient-text {
    margin-top: 12px;
    width: 360px;
    p {
      color: #fff;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px
    }
  }
}

.gradient-text {
  opacity: 0;
  transition: transform .4s ease, opacity .4s ease;
  transform: translate3d(0, 20px, 0);
}

.section-email {
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  width: 240px;
  height: 46px;
}

footer {
  height: 320px;
  background-color: #fff;
}

.footer-wrapper {
  margin: 0 auto;
  //margin-top: 46px;
  width: 600px;
  text-align: center;
}

.footer-half {
  margin: 46px auto;
  padding: 50px 30px;
  text-align: center;

  @include span-columns(6);
  p {
    color: #808591;
    font-size: 14px;
    line-height: 24px;
  }
}

.footer-icons-social {
  margin-top: 25px;
  a {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.footer-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #9A9EA7;
  background-position: center;
  background-size: 18px;
  background-repeat: no-repeat;
  transition: background-color .1s linear;
  &:hover {
    background-color: #2ba6e9;

  }
}

.icon-github {
  background-image: url('../img/icon-github.svg');
}

.icon-twitter {
  background-image: url('../img/icon-twitter.svg');
}

.icon-facebook {
  background-image: url('../img/icon-fb.svg');
}

.footer-logo {
  display: block;
  margin: 0 auto;
  margin-top: 17px;
  width: 43px;
  height: 39px;
  background-image: url('../img/logo-gray.svg');
  background-position: center;
  background-size: 43px;
  background-repeat: no-repeat;
}

.footer-links {
  margin-top: 40px;
  a {
    margin-right: 40px;
    color: #808591;
    text-decoration: none;
    font-size: 14px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: #2ba6e9;
    }
  }
}

.section-table {
  display: table;
  width: 100%;
  height: 86vh;
}

.table-center {
  display: table-cell;
  vertical-align: middle;
}

.table-wrapper {
  position: relative;
  display: table;
  margin: 0 auto;
  max-width: 960px;
  height: 100%;
}

.table-container {
  display: table;
  margin: 0 auto;
  max-width: 1160px;
}

.table-left, .table-right {
  display: table-cell;
  vertical-align: middle;
}

.table-left {
  width: 560px;
}

.table-right {
  width: 400px;
}

.table-two-third {
  display: table-cell;
  width: 760px;
  vertical-align: middle;
}

.table-one-third {
  display: table-cell;
  width: 400px;
  vertical-align: middle;
}

.phone-odd {
  position: relative;
  top: 73px;
  float: left;
}

.header-wrapper {
  position: relative;
  z-index: 1;
  display: table;
  overflow: hidden;
  margin: 0 auto;
  max-width: 960px;
  height: 100%;
}

.table-bottom {
  vertical-align: bottom;
}

.phone-header {
  position: relative;
  top: 95px;
}

.phone-secondary {
  position: absolute;
  top: 40px;
  right: 190px;
  z-index: 10;
  overflow: hidden;
  background-image: url('../img/phone_new_ios.svg');
}

.phone-secondary-image {
  background-image: url('../img/discover.png');
}

.phone-big {
  width: 324px;
  height: 664px;
  background-image: url('../img/phone_big.svg');
  background-size: 324px;
}

.phone-big-image {
  width: 299px;
  height: 532px;
  background-image: url('../img/chat.png');
}

.phone-big-image-2 {
  width: 299px;
  height: 532px;
  background-image: url('../img/discover.png');
}

.phone-even {
  position: relative;
  top: 73px;
}

.phone-primary,
.phone-secondary
 {
  opacity: 0;
  transition: transform .4s ease, opacity .4s ease;
  transform: translate3d(0, 60px, 0);
}

.shown {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);
}

.table-row {
  z-index: 99;
  display: table-row;
  overflow: visible;
  max-width: 1160px;
  height: 220px;
  border-top: 1px solid black;
  background-color: #fff;
  text-align: center;
}


@keyframes shakeIt {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  20%, 60% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 80% {
    transform: translate3d(4px, 0, 0);

  }
}

@keyframes focuseIt {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: scale(1.03);
  }
}

.shaky {
  animation-name: shakeIt;
  animation-duration: .6s;
  animation-timing-function: ease;

  animation-fill-mode: both;
}

.focused {
  animation-name: focuseIt;
  animation-duration: .4s;
  animation-timing-function: ease;

  animation-fill-mode: both;
}
