/* Import SASS Files */
@import "bourbon";
@import "grid-settings";
@import "neat";
@import "vars";
@import "fonts";
@import "index";


/* Import Libs SASS/CSS */
/* General Project Styles */

* {
  box-sizing: border-box;
}

body {
  position: relative;
  display: block;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: #eef2f5;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;

  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

*:focus {
  outline: none;
}

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.hidden {
  display: none;
}

.hr-clear {
  clear: both;
  padding: 15px 0;
  border: 0;
}

.no-borders {
  border: 0;
}

*::-webkit-input-placeholder {
  color: #808591;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  opacity: .6;
}

*:-moz-placeholder {
  color: #808591;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  opacity: .6;
}

*::-moz-placeholder {
  color: #808591;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  opacity: .6;
}

*:-ms-input-placeholder {
  color: #808591;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  opacity: .6;
}

body input:focus:required:invalid, body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid, body textarea:required:valid {
  color: #666;
}

*::selection {
  background: #b574f0;
  color: #fff;
}

/* Custom Styles Here */

/* ALWAYS END */
@import "media";
