.slide.slide--one {
  width: 100%;
}

.slide.slide--one .slide__inner {
  margin: 0 0 0 0;
  width: 100%;
}

.tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 50px 0;
}

.crowdsale {
  background-color: $colorWhite;
  box-shadow: 0 5px 8px 0 rgba(72,89,102,0.06);
  padding: 0 0 24px 0;
  background-image: linear-gradient(-180deg, #F2F5F8 0%, #FAFBFC 99%);
}

.crowdsale .tagline {
  margin: 120px 0 30px 0;
}

.tagline .tagline__title {
  width: 440px;
  font-family:$PostGroteskMedium;
  color: #49555F;
  font-size: 27px;
  line-height: 35px;
  margin: 0 0 5px 0;
}

.crowdsale .tagline .tagline__title {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: transform .6s ease, opacity .6s ease;
  transition-delay: .2s;
}

.shown .crowdsale .tagline .tagline__title {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.tagline .tagline__body {
  width: 440px;
  color: #70808D;
  opacity: .6;
  font-size: 18px;
  line-height: 26px;
  margin: 10px 0 20px 0;
}

.crowdsale .tagline .tagline__body {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: transform .6s ease,opacity .6s ease;
  transition-delay: .3s;
}


.shown .crowdsale .tagline .tagline__body {
  opacity: .6;
  transform: translate3d(0, 0, 0);
}

.tagline__buttons {
  display: flex;
}

.crowdsale .tagline .tagline__buttons {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: transform .6s ease,opacity .6s ease;
  transition-delay: .4s;
}

.shown .crowdsale .tagline .tagline__buttons  {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.tagline__buttons .button {
  margin: 0 8px;
  width: 224px;
  padding: 0;
}

.tagline__buttons .button:hover {
  box-shadow: 0 5px 12px 0 rgba(175,192,202,0.4);
  transform: translate3d(0, -2px, 0);
}

.button.button--bg-white {
  background-color: $colorWhite;
  box-shadow: 0 3px 8px 0 rgba(175,192,202,0.48);
}

.button.button--color-blue {
  color: #68C0F8;
}

.button.button--color-purple {
  color: #6673CE;
}

.learn-more {
  text-align: center;
}

.learn-more a {
  font-family: $PostGroteskMedium;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  opacity: .4;
  transition: opacity .2s ease, color .2s ease;
}

.learn-more a:hover {
  opacity: 1;
  color: #6673CE;
}

.about {
  padding: 40px 0 0 0;
}

.about .tagline {
  margin: 0 0 50px 0;
}

.app-buttons {
  display: flex;
  margin: 0 0 0 0;
}

.app-button {
  display: block;
  text-align: left;
  width: 224px;
  height: 68px;
  padding: 16px;
  box-sizing: border-box;
  margin: 0 8px 0 8px;
  background: $colorWhite;
  box-shadow: 0 3px 8px 0 rgba(175,192,202,0.48);
  border-radius: 10px;
  position: relative;
  transform: translate3d(0, 0, 0);
  transition: box-shadow .2s ease, transform .2s ease
}

.app-button:hover {
  box-shadow: 0 5px 12px 0 rgba(175,192,202,0.4);
  transform: translate3d(0, -2px, 0);
}

.app-button__title {
  display: block;
  color: #A9B3BB;
  font-size: 14px;
  line-height: 15px;
  padding: 0 0 6px 0;
}

.app-button__platform {
  display: block;
  color: #49555F;
  font-size: 15px;
  line-height: 15px;
}

.app-button__icon {
  display: block;
  width: 52px;
  height: 52px;
  position: absolute;
  right: 8px;
  top: 8px;
  background-size: 52px;
}

.app-button--android .app-button__icon {
  background-image: url(../img/crowdsale/icon-android.svg);
}

.app-button--ios .app-button__icon {
  background-image: url(../img/crowdsale/icon-apple.svg);
}

.email-form {
  display: flex;
  width: 400px;
  position: relative;
  margin: 20px 0 0 0;
}

.email-form.email-form--error .email-form__inner {
  animation-duration: .6s;
  animation-fill-mode: both;
  animation-name: shakeIt;
  animation-timing-function: ease
}

.email-form a {
  color: #6673CE;
  font-family: $PostGroteskMedium;
}

.email-form__responces {
  color: rgba(255, 255, 255, .8);
  width: 100%;
  text-align: left;
  margin: 10px 0 0 0;
  min-height: 80px;
  color: #70808D;
}

.email-form__error-message {
  opacity: 0;
  transform: translate3d(0, 10px, 0);
  transition: transform .2s ease, opacity .2s ease;
}

.email-form__error-message.email-form__error-message--shown {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.email-form__success-message {
  width: 100%;
  padding: 15px;
  font-size: 15px;
  border-radius: 8px;
  text-align: left;
  background-color: rgba(255, 255, 255, 1);
  color: #70808D;
  line-height: 22px;

  opacity: 0;
  transform: translate3d(0, 10px, 0);
  transition: transform .2s ease, opacity .2s ease;
}

.email-form__success-message.email-form__success-message--shown {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.email-form__inner {
  display: flex;
  width: 400px;
  position: relative;
}

.email-form__input {
  height: 45px;
  line-height: 45px;
  border-radius: 8px !important;
}

.email-form__input--email {
  text-align: left;
  background-color: #E5EAEE;
  color: #49555f;
  width: 215px;
  padding: 0 15px;
  margin: 0 10px 0 0;
  font-family: 'PostGrotesk-Book', sans-serif;
  box-sizing: border-box;

  transition: background-color .2s ease;
  font-weight: 400;
  font-size: 15px;
}

input.email-form__input--email:disabled {
  color: #8596A1;
  background-color: #E5EAEE;
  opacity: 1;
}

.email-form--valid .email-form__input--email {
  color: rgba(255, 255, 255, .4);
  background-image: url(../img/new-site/icon_valid.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.email-form__input--email:focus {
  background-color: #E5EAEE;
  color: #49555f;
}

.email-form__input--email::-webkit-input-placeholder {
  color: #8596A1;
}

.email-form__input--email::-moz-placeholder {
  color: rgba(255, 255, 255, .6);
}

.email-form__input--email:-ms-input-placeholder {
  color: rgba(255, 255, 255, .6);
}

.email-form__input--email:-moz-placeholder {
  color: rgba(255, 255, 255, .6);
}

.email-form input[type="submit"] {
  width: 175px;
  flex-shrink: 0;
  flex-grow: 0;
}

.email-form input[type="submit"]:disabled {
  cursor: default;
  color: rgba(255, 255, 255, .5);
}

.email-form input[type="submit"]:disabled:hover {
  background-color: rgba(104, 192, 248, 1);
}

.tagline__footer {
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 25px;
  width: 200px;
  font-size: 16px;
  line-height: 24px;

  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: transform .6s ease,opacity .6s ease;
  transition-delay: .3s;

  display: none;
}

.shown .tagline__footer {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.tagline__footer-inner {
  transition: opacity .2s ease;
}

.tagline__footer.tagline__footer--hidden .tagline__footer-inner {
  opacity: 0;
}

.phones {
  width: 476px;
  height: 636px;
  position: absolute;
  right: -20px;
  top: 106px;
}

.phone-wrap {
  position: absolute;
  transform: translate3d(0, 0, 0);
}

.phone {
  position: absolute;
  opacity: 0;
  transform: translate3d(0, 40px, 0);
  transition: transform .6s ease, opacity .3s ease;
}

.phone.phone--iphone {
  transition-delay: .3s
}

.phone.phone--android {
  transition-delay: .4s;
  transform: translate3d(0, 40px, 0);
}

.shown .phone {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.phone-wrap--iphone {
  width: 292px;
  height: 610px;
  left: 0;
  top: -3px;
  z-index: 500
}

.phone-wrap--android {
  width: 290px;
  height: 574px;
  left: 186px;
  top: 62px;
  z-index: 400
}

.app-inner {
  width: 1035px;
  height: 537px;
  margin: 0 auto;
  background-size: 1035px;
  background-image: url(../img/crowdsale/phone@2x.png);
}

.features {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  padding: 0 80px 60px 20px;
  border-radius: 10px;
  margin: -40px 0 0 0;

  display: none;

  // opacity: 0;
  // transform: translate3d(0, 40px, 0);
  // transition: transform .6s ease, opacity .6s ease;
  // transition-delay: .8s;
}
//
// .shown .features  {
//   opacity: 1;
//   transform: translate3d(0, 0, 0);
// }

.button.button--secondary {
  color: #6370CA;
  background-color: rgba(99, 112, 202, .1);
  box-shadow: none;
}

.button.button--secondary:hover {
  background-color: rgba(99, 112, 202, .2);
}

.features__item {
  text-align: center;
  width: 240px;
  margin: 0 32px;
}

.features__icon {
  display: inline-block;
  width: 130px;
  height: 60px;
  background-size: 130px;
  background-repeat: no-repeat;
}

.features__item--send .features__icon {
  background-image: url(../img/new-site/send_icon.png);
}

.features__item--browse .features__icon {
  background-image: url(../img/new-site/browse_icon.png);
}

.features__item--buy .features__icon {
  background-image: url(../img/new-site/buy_icon.png);
}

.features__title {
  font-family:$PostGroteskMedium;
  font-size: 17px;
  line-height: 20px;
  margin: 15px 0 12px 0;
}

.features__description {
  color: #70808D;
  font-size: 15px;
  line-height: 25px;
}


@media (max-width: 1280px) {


}

@media (max-width: 1220px) {


}

@media (max-width: 1080px) {

  .crowdsale {
    //min-height: 700px;
    overflow: hidden;
  }

  .crowdsale .tagline {
    margin: 430px 0 30px 0;
  }

  .app {
    position: relative;
    height: 415px;
  }

  .app-inner {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -400px;
    width: 800px;
    height: 415px;
    background-size: 800px;
  }
}



@media (max-width: 1030px) {


  .email-form.email-form--valid input[type="submit"] {
    display: none;
  }

  .email-form {
    flex-direction: column;
    //width: 300px;
  }

  .email-form__inner {
    flex-direction: column;
    //width: 300px;
  }

  .email-form__input--email {
    width: 100%;
    margin: 0 0 10px 0;
  }

  .email-form input[type="submit"] {
    width: 100%;
  }

}

@media (max-width: 960px) {



}


@media (max-width: 922px) {

}

@media (max-width: 840px) {

  .email-form {
    margin: 20px auto 0;
  }

  .email-form,
  .email-form__inner  {
    width: 246px;
  }

  .tagline .tagline__title {
    font-size: 21px;
    line-height: 35px;
  }

  .tagline .tagline__body {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 10px 0;
  }

  .features {
    margin: 0 15px;
  }

  .features-wrap {
    height: 260px;
  }

  .features__icon {
    width: 95px;
    height: 44px;
    background-size: 95px;
  }

  .features__title {
    font-size: 15px;
    line-height: 20px;
    margin: 5px 0;
  }

  .features__description {
    font-size: 14px;
    line-height: 20px;
  }

  .phones {
    right: 20px;
    top: 69px;
  }
}

@media (max-width: 767px) {

  .app-buttons {
    flex-direction: column;
  }

  .app-button {
    margin: 8px 0 8px ;
  }

  input.email-form__input--email {
    font-size: 16px;
  }

  .email-form,
  .email-form__inner  {
    width: auto;
    max-width: 300px;
  }

  .email-form__success-message {
    margin: 0 0 40px 0;
  }

  .email-form.email-form--error .email-form__inner{
    animation: none;
  }

  .email-form__responces {
    margin-top: 5px;
  }

  .tagline .tagline__title {
    width: 100%;
    max-width: 340px;
    box-sizing: border-box;
    padding: 0 20px;
  }

  .tagline .tagline__body {
    width: 100%;
    max-width: 340px;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 0 10px 0;
  }

  .tagline__buttons {
    flex-direction: column;
  }

  .tagline__buttons .button {
    margin: 8px 0;
  }

  .button.button--bg-white {
    background-color: $colorWhite;
    box-shadow: 0 3px 6px 0 rgba(175,192,202,0.3);
  }

  .crowdsale .tagline {
    margin: 320px 0 14px 0;
  }


}

@keyframes shakeIt {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  20%, 60% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 80% {
    transform: translate3d(4px, 0, 0);
  }
}
